.navlayout {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 10;
	grid-auto-rows: 80px; 
	grid-auto-columns: 200px;

}

.name {
	display: grid;
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 1;
	font-family: Ubuntu;
	font-weight: 2px;
	font-size: 30px;
	margin-top: 40px;
	letter-spacing: 2px;
}

.mainimage {
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 3;

}

nav {
	grid-column-start: 4;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 1;
	font-family: Playfair Display;
	text-transform: uppercase;
	font-size: 11pt;
	word-spacing: 128px;
	margin-top: 48px;
}

a {
	text-decoration: none;
	color: #626262;
}
/* dodać hovery później */

.layout {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 16;
	grid-auto-rows: 90px; 
	grid-auto-columns: 84px;
}

.head {
	font-family: Playfair Display;
	color: #626262;
	font-weight: normal;
	font-size: 20pt;
}

.mainarticle {
	grid-column-start: 4;
	grid-column-end: 15;
	grid-row-start: 8;
	grid-row-end: 8;
	font-family: Playfair Display;
	font-size: 10pt;
	color: #626262;
}

.littletext {
	color: #b4ad9e;
	font-family: Ubuntu;
	text-transform: uppercase;
	font-size: 9pt;
	margin-top: 20px;
}

.article1 {
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 13;
	grid-row-end: 13;
}

.article2 {
	grid-column-start: 10;
	grid-column-end: 15;
	grid-row-start: 13;
	grid-row-end: 13;
}